.vs/
.vs/praktijk-B4-fotokiosk/FileContentIndex/3e671849-2e50-433f-b190-6af8d05f3fa5.vsidx
.vs/praktijk-B4-fotokiosk/FileContentIndex/90309a02-cc6e-4728-8d9f-6cf217949ab6.vsidx
.vs/praktijk-B4-fotokiosk/FileContentIndex/c4308d7c-124b-4f45-82ea-85f62d7094e5.vsidx
.vs/praktijk-B4-fotokiosk/v17/.wsuo
.vs/slnx.sqlite
PRA_B4_FOTOKIOSK/PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/App.g.i.cs
PRA_B4_FOTOKIOSK/PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/Home.g.i.cs
PRA_B4_FOTOKIOSK/PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK.assets.cache
PRA_B4_FOTOKIOSK/PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK.csproj.AssemblyReference.cache
PRA_B4_FOTOKIOSK/PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK.GeneratedMSBuildEditorConfig.editorconfig
PRA_B4_FOTOKIOSK/PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_MarkupCompile.i.cache
PRA_B4_FOTOKIOSK/PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_MarkupCompile.i.lref
